<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DuckMarket.pl</title>
  <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <main>
    <aside class="sidebar" data-sidebar>
      <div class="sidebar-info">
          
        <figure class="avatar-box">
          <img src="/static/logo.png" alt="Richard hanrick" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Richard hanrick">DuckMarket.pl</h1>

          <p class="title">Market Kont</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Pokaż więcej</span>
          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <img src="/static/logo (1).png" width="33" height="33">
            </div>

            <div class="contact-info">
              <p class="contact-title">Dołącz tutaj!</p>
              <a href="https://discord.gg/4fxBst4xMW" class="contact-link">Discord</a>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

      </div>
    </aside>

    <div class="main-content">
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item"><a href="/" class="navbar-link active">Strona główna</a></li>
          <li class="navbar-item"><a href="/market" class="navbar-link">Market</a></li>
          <li class="navbar-item"><a href="/static/regulamin.html" class="navbar-link">Regulamin</a></li>
        </ul>
      </nav>

      <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">404</h2>
        </header>

        <section class="about-text">
          <div style="text-align: center;"> <img src="/static/logoall.png"> </div>
<h1>ERROR 404</h1>


        </section>

      </article>

    </div>
  </main>

  <script src="/static/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>